BasedOnStyle: GNU
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterEnum: false
  AfterFunction: false
  AfterStruct: false
  BeforeWhile: false
  SplitEmptyFunction: false
  BeforeElse: true
ColumnLimit: 0
IndentPPDirectives: AfterHash
SpaceBeforeParens: Never